<div class="container-fluid">
    <app-page-title title="RimBerry Raw Materials" [breadcrumbItems]="breadCrumbItems"></app-page-title>


    <div class="row">
      <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4"> Rimbery Reception</h4>

          <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="Create Reception Form">
              <ng-template awWizardStepSymbol>1</ng-template>
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="text-center">
                    <div class="p-4">
                      <button class="btn btn-secondary" awNextStep>Create a New Reception <i class="mdi mdi-chevron-double-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Reception Details">
              <ng-template awWizardStepSymbol>2</ng-template>
              <form class="outer-repeater" [formGroup]="form1" *ngIf="!isLoading">
                <div class="outer">
                  <div>
                    <div class="mb-3">
                        <label for="example-date-input" class="col-md-2 col-form-label">Date</label>
                        <input class="form-control" type="date" value="2023-01-17" id="example-date-input" formControlName="date">
                    </div>

                    <div class="mb-3">
                        <label class="col-md-2 col-form-label">Supplier</label>
                            <select class="form-select" formControlName="supplierId">
                                <option selected disabled>Select</option>
                                <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.id}} - {{supplier.name}} - {{supplier.source}}</option>
                            </select>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-2 col-form-label">Product</label>
                            <select class="form-select" formControlName="productId">
                                <option selected disabled>Select</option>
                                <option *ngFor="let product of products" [value]="product.id">{{product.id}} - {{product.name}}</option>
                            </select>
                    </div>

                    <div class="row">
                      <div class="mb-3 col-md-3">
                        <label for="driver">Driver</label>
                        <input type="text" formControlName="driver" class="form-control">
                      </div>

                      <div class="mb-3 col-md-4">
                        <label for="driver">Vehicule Registration Number</label>
                        <input type="text" formControlName="rnumber" class="form-control">
                      </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-success" (click)="onSubmit();">Submit</button> -->
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-secondary" awPreviousStep>Previous</button>
                </li>
                <li class="next list-inline-item float-end"><button [disabled]="!isForm1Valid()" (click)="submitForm1();" class="btn btn-secondary" awNextStep>Pallette Details <i class="mdi mdi-chevron-double-right"></i></button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Palette Details">
              <ng-template awWizardStepSymbol>3</ng-template>


              <form [formGroup]="form2">
                <div class="row mt-3">
                  <div class="mb-3 col-lg-3">
                      <label for="pb">PB (KG)</label>
                      <input id="pb" type="text" formControlName="pb" class="form-control" value="{{pb}}" (keyup)="savePalettePoidsBrute($event);">
                  </div>
                  <div class="mb-3 col-lg-3">
                      <label for="pp">PP (KG)</label>
                      <input id="pp" type="text" formControlName="pp" class="form-control" value="{{pp}}" (keyup)="savePalettePoids($event);">
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </form>

              <div class="row mt-3">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-4">NC Entry</h4>
                      <form class="repeater" [formGroup]="form2">
                        <div formArrayName="formlist">
                          <div *ngFor="let data1 of formData().controls; let i=index;">
                            <div [formGroupName]="i" class="row">
                              <div class="mb-3 col-lg-2">
                                <label for="name">NC</label>
                                <input type="text" formControlName="nc" class="form-control" (keyup)="onNCWrite($event, i);">
                              </div>

                              <div class="mb-3 col-lg-3">
                                <label>TypeC</label>
                                <select class="form-select" (change)="selectType($event, i)" formControlName="typec">
                                    <option>Select</option>
                                    <option value="0.70">Etranger (0.70)</option>
                                    <option value="1.20">Orange (1.20)</option>
                                    <option value="1.10">Blue (1.10)</option>
                                </select>
                              </div>

                              <div class="col-lg-2 align-self-center">
                                    <button class="btn btn-danger" (click)="removeField(i)">
                                        <span class="mdi mdi-close-box-outline"></span>
                                    </button>
                              </div>
                            </div>
                          </div>
                          <input type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" (click)="addField()">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <form action="" [formGroup]="form2">
                <div class="row">
                  <div class="mb-3 col-md-3">
                    <label for="name">NC Total</label>
                    <input disabled type="text" formControlName="total" class="form-control" value="{{totalNC}}">
                  </div>

                  <div class="mb-3 col-md-3">
                    <label for="name">Tare Caisse</label>
                    <input disabled type="text" formControlName="tareCaisse" class="form-control" value="{{grossMass}}">
                  </div>

                  <div class="mb-3 col-md-3">
                    <label for="name">TARE</label>
                    <input disabled type="text" formControlName="gross" class="form-control" value="{{tare}}">
                  </div>

                  <div class="mb-3 col-lg-3">
                    <label for="name">Net MASS (KG)</label>
                    <input disabled type="text" formControlName="net" class="form-control" value="{{netmass}}">
                  </div>
              </div>
              <div class="row">
                <div class="mb-3 col-lg-3">
                  <label for="name">TE</label>
                  <input disabled type="text" class="form-control" value="{{te}}">
                </div>
                <div class="mb-3 col-lg-3">
                  <label for="name">TO</label>
                  <input disabled type="text" class="form-control" value="{{to}}">
                </div>
                <div class="mb-3 col-lg-3">
                  <label for="name">TB</label>
                  <input disabled type="text" class="form-control" value="{{tb}}">
                </div>
              </div>
              </form>

              <div class="row">
                <div class="col-md-2">
                  <button type="submit" class="btn btn-success" (click)="addPallete();">Add Palette</button>
                </div>

              </div> <br><br>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-secondary" awPreviousStep> <i class="mdi mdi-chevron-double-left"></i> Reception General Details</button>
                </li>
                <li class="next list-inline-item float-end"><button (click)="isForm2Valid();" class="btn btn-secondary" awNextStep>Pallette List <i class="mdi mdi-chevron-double-right"></i></button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Palette List Confirm">
              <ng-template awWizardStepSymbol>4</ng-template>

              <div class="row mt-3">
                <div class="col-12">
                  <table id="example" class="table table-light table-hover table-striped caption-top" style="width:100%">
                    <caption style="text-align: left;">
                        <div class="row">
                          <div class="input-group" class="col-md-4">
                            <input type="text" class="form-control" placeholder="Search Pallete..." aria-label="Recipient's username">
                            <div class="input-group-append">
                            </div>
                          </div>
                        </div>
                    </caption>
                        <thead class="table-white">
                            <tr>
                                <th scope="col" style="width: 100px">NLOT</th>
                                          <th scope="col">PB</th>
                                          <th scope="col">PP</th>
                                          <th scope="col">TOTAL CASES</th>
                                          <th scope="col">TE (0.70)</th>
                                          <th scope="col">TO (1.20)</th>
                                          <th scope="col">TB (1.10)</th>
                                          <th scope="col">TARE CASES</th>
                                          <th scope="col">TARE</th>
                                          <th scope="col">NET</th>
                                          <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pallete of palettes; let i=index;">
                                <td>
                                    <a (click)="onCopy(pallete.id);" href="javascript: void(0);" class="text-dark">
                                        <span>{{pallete.id}}</span>
                                      </a>
                                </td>
                                <td>
                                    <a (click)="onCopy(pallete.pb);" href="javascript: void(0);" class="text-dark">
                                        <span>{{pallete.pb}}</span>
                                      </a>
                                </td>
                                <td>
                                    <a (click)="onCopy(pallete.pp);" href="javascript: void(0);" class="text-dark">
                                      <span>{{pallete.pp}}</span>
                                    </a>
                                <td>
                                        <a (click)="onCopy(pallete.totalCases);" href="javascript: void(0);" class="text-dark">
                                            <span>{{pallete.totalCases}}</span>
                                          </a>
                                </td>
                              <td>
                                <a href="javascript: void(0);" class="text-dark">
                                  <span>{{pallete.te}}</span>
                                </a>
                              </td>
                              <td>
                                <a href="javascript: void(0);" class="text-dark">
                                  <span>{{pallete.to}}</span>
                                </a>
                              </td>
                              <td>
                                <a href="javascript: void(0);" class="text-dark">
                                  <span>{{pallete.tb}}</span>
                                </a>
                              </td>
                                <td>
                                  <a (click)="onCopy(pallete.tareCases);" href="javascript: void(0);" class="text-dark">
                                    <span>{{pallete.tareCases}}</span>
                                  </a>
                                </td>
                                <td>
                                  <a (click)="onCopy(pallete.tare);" href="javascript: void(0);" class="text-dark">
                                    <span>{{pallete.tare}}</span>
                                  </a>
                                </td>
                                <td>
                                  <a (click)="onCopy(pallete.net);" href="javascript: void(0);" class="text-dark">
                                    <span>{{pallete.net}}</span>
                                  </a>
                                </td>
                                  <td>
                                    <button style="border: 0; background-color: transparent; color: rgb(248, 72, 72);" (click)="delete(i);">
                                      <span class="badge bg-danger rounded-pill">delete</span>
                                    </button>
                                    <button style="border: 0; background-color: transparent; color: rgb(52, 238, 108);" (click)="printPallete(i);">
                                      <span class="badge bg-success rounded-pill">print</span>
                                    </button>
                                  </td>
                              </tr>
                        </tbody>
                    </table>
                    <div *ngIf="palettes.length == 0" class="sm-12">
                      <div style="text-align: center; padding-bottom: 20px;">No Pallete Registered!</div>
                    </div>
                </div>
              </div>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-secondary" awPreviousStep><i class="mdi mdi-chevron-double-left"></i> Pallette Details</button>
                </li>
                <li class="next list-inline-item float-end"><button (click)="calculateReceptionTotal();" class="btn btn-secondary" awNextStep>Confirm Pallettes <i class="mdi mdi-chevron-double-right"></i></button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Reception Confirm">
              <ng-template awWizardStepSymbol>5</ng-template>

              <div class="card">
                <div class="card-body">
                  <div class="container mb-5 mt-3" id="invoice">
                    <div class="row d-flex align-items-baseline">
                      <div class="col-xl-9">
                        <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p>
                      </div>
                      <div class="col-xl-3 float-end">
                        <a data-mdb-ripple-init class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                            class="fas fa-print text-primary"></i> Print</a>
                        <a data-mdb-ripple-init class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                            class="far fa-file-pdf text-danger"></i> Export</a>
                      </div>
                      <hr>
                    </div>

                    <div class="container">
                      <div class="col-md-12">
                        <div class="text-center">
                          <img src="../../../../assets/images/brands/rimberry2-logo.png" alt="" width="150" height="100">
                          <p class="pt-0">Rimberry Administration System</p>
                        </div>

                      </div>


                      <div class="row">
                        <div class="col-xl-8">
                          <ul class="list-unstyled">
                            <li class="text-muted">Supplier: <span style="color:#5d9fc5 ;">{{supplierName}}</span></li>
                            <li class="text-muted">{{supplierAddress}}</li>
                            <li class="text-muted">{{supplierRib}}</li>
                            <li class="text-muted"><i class="fas fa-phone"></i> {{supplierPhone}}</li>
                          </ul>
                        </div>
                        <div class="col-xl-4">
                          <p class="text-muted">Invoice</p>
                          <ul class="list-unstyled">
                            <li class="text-muted"><i class="fas fa-circle" style="color:#eb5065 ;"></i> <span
                                class="fw-bold">ID:</span>#123-456</li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#eb5065 ;"></i> <span
                                class="fw-bold">Creation Date: </span>{{date}}</li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#eb5065 ;"></i> <span
                                class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                                Unpaid</span></li>
                          </ul>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-8">
                          <ul class="list-unstyled">
                            <li class="text-muted">Product: <span style="color:#5d9fc5 ;">{{productName}}</span></li>
                            <li class="text-muted">Driver: <span style="color:#5d9fc5 ;">{{driver}}</span></li>
                            <li class="text-muted">VRN: <span style="color:#5d9fc5 ;">{{vrn}}</span></li>
                          </ul>
                        </div>

                      </div>

                      <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                          <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                              <th scope="col">PB</th>
                              <th scope="col">TP</th>
                              <th scope="col">PP</th>
                              <th scope="col">TC</th>
                              <th scope="col">TAREP</th>
                              <th scope="col">TARE</th>
                              <th scope="col">TN</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{receptionPB}}</td>
                              <td>{{totalPalletes}}</td>
                              <td>{{receptionPP}}</td>
                              <td>{{receptionTotalCaisses}}</td>
                              <td>{{receptionTareCases}}</td>
                              <td>{{receptionTare}}</td>
                              <td>{{receptionNet}}</td>
                            </tr>
                          </tbody>

                        </table>
                      </div>

                      <hr>

                    </div>
                  </div>
                </div>
              </div>







              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-secondary" awPreviousStep>Previous</button>
                </li>
                <li class="next list-inline-item float-end"><button (click)="onSubmit();" class="btn btn-secondary" awNextStep>Confirm Reception</button>
                </li>
              </ul>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
    </div>


    <!-- div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Raw Material</h4>
              <div *ngIf="isLoading">
                loading
              </div>
              <form class="outer-repeater" [formGroup]="form" *ngIf="!isLoading">
                <div class="outer">
                  <div>
                    <div class="mb-3">
                        <label for="example-date-input" class="col-md-2 col-form-label">Date</label>
                        <input class="form-control" type="date" value="2023-01-17" id="example-date-input" formControlName="date">
                    </div>

                    <div class="mb-3">
                        <label class="col-md-2 col-form-label">Supplier</label>
                            <select class="form-select" formControlName="supplierId">
                                <option selected disabled>Select</option>
                                <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.source}}</option>
                            </select>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-2 col-form-label">Product</label>
                            <select class="form-select" formControlName="productId">
                                <option selected disabled>Select</option>
                                <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
                            </select>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-lg-2">
                            <label for="gmass">GROSSE MASS (POIDS BRUTE)</label>
                            <input type="text" formControlName="gmass" class="form-control" value="{{gmass}}" (keyup)="saveGMMASS($event);">
                        </div>
                        <div class="mb-3 col-lg-2">
                            <label for="tare">TARE</label>
                            <input type="text" formControlName="tare" class="form-control" value="{{tare}}" (keyup)="saveTARE($event);">
                        </div>
                        <div class="mb-3 col-lg-2">
                            <label for="nmass">NET MASS (POIDS NET)</label>
                            <input disabled type="text" formControlName="nmass" class="form-control" value="{{nmass}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title mb-4">NC Entry</h4>
                              <form class="repeater" [formGroup]="form">
                                <div formArrayName="formlist">
                                  <div *ngFor="let data1 of formData().controls; let i=index;">
                                    <div [formGroupName]="i" class="row">
                                      <div class="mb-3 col-lg-2">
                                        <label for="name">NC</label>
                                        <input type="text" formControlName="nc" class="form-control" (keyup)="onNCWrite($event, i);">
                                      </div>

                                      <div class="mb-3 col-lg-2">
                                        <label>TypeC</label>
                                        <select class="form-select" (change)="selectType($event, i)" formControlName="typec">
                                            <option>Select</option>
                                            <option value="0.70">Etranger (0.70)</option>
                                            <option value="1.20">Orange (1.20)</option>
                                            <option value="1.10">Blue (1.10)</option>
                                        </select>
                                      </div>

                                      <div class="col-lg-2 align-self-center">
                                            <button class="btn btn-danger" (click)="removeField(i)">
                                                <span class="mdi mdi-close-box-outline"></span>
                                            </button>
                                      </div>
                                    </div>
                                  </div>
                                  <input type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" (click)="addField()">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-2">
                            <label for="name">Total Caisses</label>
                            <input disabled type="text" formControlName="total" class="form-control" value="{{totalNC}}">
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="name">Gross MASS (KG)</label>
                            <input disabled type="text" formControlName="gross" class="form-control" value="{{grossMass}}">
                          </div>

                          <div class="mb-3 col-lg-2">
                            <label for="name">Net MASS (KG)</label>
                            <input  type="text" formControlName="net" class="form-control" value="{{netmass}}">
                          </div>
                      </div>

                    <button type="submit" class="btn btn-success" (click)="onSubmit();">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div> -->
</div>
